/*  
*   Typeface: Whitney 
*   Font-weight: Book, Book Italic, Semibold, Semibold Italic
*   
*   Alternative:
*       - Roboto Normal. 
*/

@font-face {
    font-family: "Whitney";
    src: url('../fonts/whitney/Whitney-Book-Bas.otf')format('otf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Whitney";
    src: url('../fonts/whitney/Whitney-BookItal-Bas.otf')format('otf');
    font-weight: normal;
    font-style: italic;
  }

@font-face {
    font-family: "Whitney";
    src: url('../fonts/whitney/Whitney-Semibold-Bas.otf')format('otf');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: "Whitney";
    src: url('../fonts/whitney/Whitney-SemiboldItal-Bas.otf')format('otf');
    font-weight: 600;
    font-style: italic;
  }


/*  
*   Typeface: Ginto Nord 
*   Font-weight: Ultra, Black
*   
*   Alternative:
*       - Poppins Black (all caps) 
*/

@font-face {
    font-family: "Ginto Nord";
    src: url('../fonts/ginto/ABCGintoNord-Ultra.woff')format('woff');
    font-weight:bolder;
    font-style:normal;
  }

@font-face {
    font-family: "Ginto Nord";
    src: url('../fonts/ginto/GintoNord-Black.woff')format('woff');
    font-weight: 900;
    font-style:normal;
  }
  
  @font-face {
      font-family: "Ginto Nord";
      src: url('../fonts/ginto/GintoNord-Medium.woff')format('woff');
      font-weight: 500;
      font-style:normal;
    }


/*  
*   Typeface: Ginto Normal 
*   Font-weight: Ultra, Black
*   
*   Alternative:
*       - Poppins Black (all caps) 
*/

@font-face {
    font-family: "Ginto Normal";
    src: url('../fonts/ginto-normal/ABCGintoNormal-Black.woff')format('woff');
    font-weight:normal;
    font-style:normal;
  }