/* make scrolling smooth */
html {
  scroll-behavior: smooth;
}
/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* add some padding back to rest of page */
main {
  padding: 2vw;
}

/* navbar */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-color: hsl(207, 100%, 91%);
  --text-color: black;
  --main-color: #dd0662;
  --active-color: white;
  --nav-color: rgb(180, 222, 255);
}

header img {
  width: 40%;
}
body {
  margin-top: 4em;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 0px 14px 4%;
  transition: all 0.5s ease;
  /* border-radius: 0px 0px 15px 15px; */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding: 5px 0px 0px 0px;
}

.navbar {
  display: flex;
}
.navbar a {
  color: var(--active-color);
  background-color: var(--main-color);
  font-size: 1rem;

  margin: 0px 30px;
  padding: 6px 17px;
  border-radius: 25px;
  /* border: 2px solid; */
  /* padding: 10px; */
  /* box-shadow: 5px 5px black; */
  margin: 0px 20px;

  transition: all 0.5s ease;
}
.navbar a:hover {
  /* font-weight: 700; */
  font-weight: 700;
}
.navbar a.active {
  font-weight: 700;
}
.main {
  display: flex;
  align-items: center;
}
.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.main a:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 9px 0px 20px 4%;
    transition: 0.2s;
  }
  .navbar a {
    padding: 10px 20px;
    border-radius: 25px;
    /* border: 2px solid; */
    /* padding: 10px; */
    /* box-shadow: 5px 5px black; */
    margin: 0px 20px;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
    padding: 15px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: none;
    transition: all 0.5s ease;
  }
  .navbar a {
    display: block;
    box-shadow: none;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: --active-color;
    transform: translateY(5px);
  }
  .navbar a.active {
    font-weight: 700;
  }
  .navbar.open {
    right: 2%;
  }
}
