body {
  font-family: 'Merriweather', serif;
  background-color: #f0f0f2;
  color: #3e3e40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mulish', sans-serif;
  font-size: 40pt;
  text-align: center;
  margin: 0.1em;
}

header {
  text-align: center;
}

header img {
  width: 75px;
}

#hero,
footer {
  color: #0d0d0d;
  border: 2px solid #3e3e40;
  text-align: center;
  background-color: #bdbdbf;
  padding: 10px;
}

#hero img {
  width: 50%;
  max-width: 600px;
}

#aspirations,
#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul,
ol {
  list-style: none;
}
ul li::before {
  content: '✅';
  display: inline-block;
  margin-right: 0.2rem;
}

ul ol li::before {
  content: '📌';
}

#gallery {
  /* margin-top: 2.5rem;
  margin-bottom: 2.5rem; */
  border: solid 3px #1b2451;
}

#gallery img {
  /* margin-top: 1.5rem; */
  width: 80%;
  border-radius: 30px;
}

#gallery figure {
  font-size: 1.5rem;
  text-align: center;
}

/* Literature */
#lit {
  font-size: x-large;
  border: solid 3px #1b2451;
  margin-bottom: 2.5rem;
}
#lit div {
  padding: 0.1rem 2rem 1.5rem;
  max-width: 35rem;
  margin: 0 auto;
}

#lit div p:nth-child(1):first-letter {
  color: rgb(255, 221, 0);
  background-image: radial-gradient(rgb(10, 94, 94), rgb(167, 222, 170));
  float: left;
  font-size: 3em;
  padding: 0.5em;
  margin-right: 0.25em;
  line-height: 0.65;
  border: 4px outset #adb5df;
  font-family: 'Mulish', sans-serif;
  box-shadow: 5px 5px 5px #adb5df68;
  border-radius: 25%;
}

@media screen and (min-width: 60rem) {
  figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #gallery img {
    width: 100%;
  }

  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1.5rem;
  }

  #lit div {
    max-width: 100%;
    columns: 15rem;
  }

  #hero img {
    width: 550px;
  }

  #lit div {
    padding: 0.5rem 5rem 1.5rem;
    /* max-width: 35rem; */
    margin: 0 auto;
  }
}
