/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --text-color: black;
  --active-color: white;
  --secondary-color: #b2c5f6;

  --nav-color: rgb(180, 222, 255);
  --bg-color: hsl(207, 100%, 91%);

  /* --first-icon-color: #dd0662; */
  --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);

  /* HSL color mode */
  --first-icon-color: #dd0662;
  --second-icon-color: #d2bcf7;
  --third-icon-color: #b2c5f6;

  --first-icon-color-alt: hsl(334, 100%, 64%);
  --second-icon-color-alt: #d2bcf7;
  --third-icon-color-alt: #b2c5f6;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: 1.7rem;
  color: var(--title-color);
}

.section_subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*==================== HOME ====================*/
.home_container {
  gap: 1rem;
}

.home_content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--first-icon-color);
}
.home_social-icon:hover {
  color: var(--first-icon-color-alt);
}

.home_blob {
  width: 200px;
  fill: var(--first-icon-color);
}

.home_blob-image {
  width: 190px;
}

.home_data {
  grid-column: 1/3;
}

.home_title {
  font-size: 2rem;
}

.home_subtitle {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.home_description {
  margin-bottom: 2rem;
}

.home_scroll-button {
  color: var(--first-icon-color);
  transition: 0.3s;
}
.home_scroll-button:hover {
  transform: translateY(0.25rem);
}
.home_scroll-mouse {
  font-size: 0.813rem;
  color: var(--title-color);
  font-weight: 500;
  margin-right: var(--mb-0-25);
}

.home_scroll-mouse {
  font-size: 2rem;
}

.home_scroll-arrow {
  font-size: 1.25rem;
}

/*=================== Hobbies ====================*/
.hobbies_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.hobbies_title {
  font-size: 1rem;
  font-weight: 500;
}

.hobbies_subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 1rem;
}

.hobbies_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-icon-color);
  border-radius: 50%;
}

.hobbies_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-icon-color);
  transform: translate(6px, -7px);
}
/*=================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-icon-color);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.button:hover {
  background-color: var(--first-icon-color-alt);
}

/*=================== Gallery ====================*/
.gallery-container {
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery_item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery_item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery_item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery_item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
/*=================== Article ====================*/
.article {
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.article_subtitle {
  display: block;
  font-size: 0.813rem;
  text-align: center;
}

.blog-container {
  padding: 0.1rem 2rem 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 2em;
}

.blog-container p {
  margin-bottom: 1.5rem;
}
.article h1,
h2,
h3 {
  margin-bottom: 1rem;
}

.article p {
  margin-bottom: 1.5rem;
}
/*======================== Contact Me =====================*/
.contact {
  margin-top: 7rem;
}

.contact_content {
  background-color: var(--second-icon-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact_label {
  font-size: 0.75rem;
  color: var(--title-color);
}

.contact_input {
  width: 100%;
  background-color: var(--second-icon-color);
  color: var(--text-color);
  /* font-family: ; */
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact_form {
  margin: auto;
}

/*================================================*/
/* For small devices */

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home_content {
    margin: auto;
    grid-template-columns: 0.25fr 3fr;
  }

  .home_blob {
    width: 180px;
  }

  .hobbies_data {
    gap: 0.5rem;
  }
  .article {
    margin-top: 7rem;
  }

  .article_subtitle {
    display: block;
    font-size: 0.813rem;
    text-align: center;
  }
  .gallery-container {
    width: 80%;
    margin: 2rem auto;
  }

  .gallery {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 0.6rem;
  }

  .section_subtitle {
    margin-bottom: 1.3rem;
  }
  .blog-container {
    margin: 0 auto;
    font-size: 0.75rem;
    line-height: 2.4em;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home_content {
    margin: auto;
    grid-template-columns: max-content 1fr 1fr;
  }

  .home_data {
    grid-column: initial;
  }

  .home_img {
    order: 1;
    justify-self: center;
  }
  .hobbies_sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
  .contact_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-container {
    margin: 0 auto;
    max-width: 88%;
    font-size: 1.2rem;
    line-height: 2.2em;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }

  .home_container {
    row-gap: 5rem;
  }

  .home_content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home_blob {
    width: 270px;
  }

  .home_scroll {
    display: block;
  }

  .home_scroll-button {
    margin-left: 3rem;
  }
  .hobbies_tabs {
    justify-content: center;
  }
  .hobbies_button {
    margin: 0 var(--mb-1);
  }
  .hobbies_sections {
    grid-template-columns: 0.5fr;
  }
  .blog-container {
    margin: 0 auto;
    max-width: 85%;
    font-size: 1.2rem;
    line-height: 2.24em;
  }
}

/* For larger devices */
@media screen and (min-width: 1024px) {
  .home_blob {
    width: 320px;
  }

  .home_social {
    transform: translateX(-6rem);
  }

  .contact_form {
    width: 460px;
  }
  .contact_inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-container {
    margin: 0 auto;
    max-width: 70%;
    font-size: 1.2rem;
    line-height: 2.24em;
  }
}

/*================================================*/

footer {
  color: #0d0d0d;
  margin-top: 100px;
  text-align: center;
  background-color: var(--nav-color);
  padding: 2em 0;
}

.footer_socials {
  color: #dd0662;
  font-size: 1.5rem;
}

.iframe-section {
  width: 80%;
  max-width: 800px;
  margin: auto;
}
.iframe-container {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
